<header class="w3-container" style="border-radius:0px; padding:12px 20px; background-color: dodgerblue;">
  <div class="w3-bar" style="background-color: transparent; border: none;">

    <a href="index.html"
       class="w3-bar-item w3-button logo-link"
       style="font-weight: bold; font-size: 1.5em;">
      ALAN JOBE
    </a>

    <a href="index.html"
       class="w3-bar-item w3-button nav-link"
       style="font-size: 1.2em;">
      Home
    </a>

    <a href="about.html"
       class="w3-bar-item w3-button nav-link"
       style="font-size: 1.2em;">
      About
    </a>

    <a href="music.html"
       class="w3-bar-item w3-button nav-link"
       style="font-size: 1.2em;">
      Music
    </a>

    <a href="blog.html"
       class="w3-bar-item w3-button nav-link"
       style="font-size: 1.2em;">
      Blog
    </a>

  </div>
</header>